@model TestApp.Models.Page

<div>
    <ul class="nav nav-pills nav-stacked">
<li>@Html.LabelFor(m=>m.PageName): <br />@Html.DisplayFor(m => m.PageName)<li/>
        <li>@Html.LabelFor(m => m.PageContent): <br />@Html.DisplayFor(m => m.PageContent)</li>
    </ul>
</div>
